* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
  text-align: center;
  background-color: $background_color;

  @include lg {
    overflow-y: auto;
  }
}

#__next {
  width: 100vw;
  height: 100vh;
}