.pokedex {
  width: 400px;
  padding: 20px;
  background-color: $red_color;
  border: 8px solid darken($color: $red_color, $amount: 9);
  border-radius: 10px;
  @include shadow;

  &__circles {
    margin: 0 auto;
    width: 280px;
    display: flex;
    margin-bottom: 20px;

    &--hero {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $white_color;
      position: relative;

      &::after {
        position: absolute;
        top: 3px;
        left: 6px;
        content: '';
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $blue_color;
      }

      &::before {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 20px;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba($color: $white_color, $alpha: 0.7);
        @include shadow-white;
      }
    }

    &--item {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: #e2e514;
      position: relative;

      &.red {
        background-color: red;
      }

      &.red::before {
        background-color: red;
      }

      &::after {
        position: absolute;
        bottom: 0;
        right: 1px;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: 0.6);
      }

      &::before {
        position: absolute;
        z-index: 1;
        top: 3px;
        left: 3px;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #e2e514;
      }
    }
  }

  &__imagen {
    margin: 0 auto;
    width: 280px;
    height: 220px;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 76%);
    background-color: $grey_color;
    display: flex;
    align-items: center;
    justify-content: center;

    & > figure {
      display: grid;
      justify-content: center;
      align-items: center;
      margin-top: -20px;
      width: 200px;
      height: 140px;
      border-radius: 10px;
      background-color: #f1f2d3;
      -webkit-box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.75);
    }
  }

  &__details {
    margin: 0 auto;
    width: 280px;
    height: 210px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background-color: #03212d;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    &--name {
      text-align: center;
      letter-spacing: 1.2px;
    }

    &--subtitle {
      margin-bottom: 4px;
    }
  }
}
